//
// Dyscover.rc
//

#include <wx/msw/wx.rc>

#include "VersionInfo.h"

Icon ICON icons/Icon.ico
Icon0 ICON icons/Icon0.ico
Icon1 ICON icons/Icon1.ico
Icon2 ICON icons/Icon2.ico
Icon3 ICON icons/Icon3.ico
Icon4 ICON icons/Icon4.ico
Icon5 ICON icons/Icon5.ico
Icon6 ICON icons/Icon6.ico

Splash BITMAP Splash.bmp

// Refer to VersionInfo.h file included above
TRANSLATION_RESOURCE_NAME MOFILE TRANSLATION_MO_FILE

VS_VERSION_INFO VERSIONINFO
    FILEVERSION    VERSION_MAJOR, VERSION_MINOR, VERSION_PATCH, VERSION_TWEAK
    PRODUCTVERSION VERSION_MAJOR, VERSION_MINOR, VERSION_PATCH, VERSION_TWEAK
    FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
    FILEFLAGS      VS_FF_DEBUG
#else
    FILEFLAGS      0x0L
#endif
    FILEOS         VOS_NT
    FILETYPE       VFT_APP
    FILESUBTYPE    VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK LANG_CHARSET
        {
            VALUE "Comments",         "\0"
            VALUE "CompanyName",      "BNC Distribution\0"
            VALUE "FileDescription",  "Clevy Dyscover\0"
            VALUE "FileVersion",      VERSION_STRING
            VALUE "InternalName",     "Dyscover\0"
            VALUE "LegalCopyright",   "Copyright (c) BNC Distribution\0"
            VALUE "OriginalFilename", "Dyscover.exe\0"
            VALUE "ProductName",      "Clevy Dyscover\0"
            VALUE "ProductVersion",   VERSION_STRING
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", LANG_ID, CHARSET
    }
}
